.mandato {
    width: 30px;
    height: 30px;
    border-radius: 50%; /* Faz com que os lugares sejam circulares */
    margin: 5px;
    display: inline-block;
    position: relative;
}

#chartVotos {
    max-width: 600px; /* Defina uma largura máxima */
    margin: auto; /* Centraliza o gráfico na página */
}